#game {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #fff;
    border:1px solid #ccc;
    margin:0 auto;
}

#gamePanel {
    width: 100%;
    height: 400px;
    position:relative;
    top: -100px;
    border-collapse: collapse;
}
.white {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: inline-block;
}
.black {
    background-color: #000;
}
.control-panel {
    position: absolute;
    margin-top: 10px;
    width: 400px;
}
.control-panel p:after,
.control-panel p:before {
    content: '';
    display: table;
}
.control-panel p:after {
    clear: both;
}
.control-panel p {
    margin:0;
    padding:0;
}
.control-panel span {
    float: left;
}
.control-panel button {
    float: right;
}